@import "./variables.scss";

$breakpoint-small: #{--breakpoint-small};
$breakpoint-medium: #{--breakpoint-medium};
$breakpoint-large: #{--breakpoint-large};
$breakpoint-extra-large: #{--breakpoint-extra-large};
