* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

.h-0 {
  height: 0% !important;
}

.h-25 {
  height: 25% !important;
}

.h-50 {
  height: 50% !important;
}

.h-75 {
  height: 75% !important;
}

.h-100 {
  height: 100% !important;
}

.w-0 {
  width: 0% !important;
}

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.position-sticky {
  position: sticky !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-space-between {
  justify-content: space-between !important;
}

.justify-space-around {
  justify-content: space-around !important;
}

.soft-box-shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.clickable {
  cursor: pointer !important;
}

.app-title {
  font-family: "Lato", sans-serif !important;
  font-weight: 600;
}

.app-body {
  font-family: "Lato", sans-serif !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 0 transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

.icon__font--medium {
  font-size: 20px !important;
}

.text--small {
  font-size: 14px !important;
  line-height: 20px;
}

.text__content {
  font-size: 16px !important;
  font-family: "Lato", sans-serif !important;
}

.sidebar__card {
  border-top: 1px solid var(--color-article-baseline);
  border-left: 1px solid var(--color-article-baseline);
  border-bottom: 1px solid var(--color-article-baseline);
}

.sidebar__header::before {
  content: "";
  position: absolute;
  top: 9.45px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--color-brick);
}

.card-item__wrapper {
  border-bottom: 1px solid var(--color-article-baseline);
}

.card-item__title {
  transition: all 0.2s linear;
}

.card-item__title:hover {
  padding-left: 15px;
}

.text--ellipsis p:first-child {
  margin: 0 !important;
}

.post__description p:has(img) {
  display: none !important;
}

.me__description {
  text-indent: 24px;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: manual;
  -webkit-hyphens: manual;
}

.text__content p:has(img) {
  display: flex;
  justify-content: center;
}

.text__content img {
  width: 100%;
}

.cheerup-toast {
  font-family: "Lato", sans-serif !important;
  box-shadow: none !important;
}

.cheerup-toast-container {
  top: 1% !important;
}

.text-body-3 {
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .cheerup-toast-container {
    min-width: unset !important;
    margin: 0 auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }

  .cheerup-toast {
    padding: 6px 12px !important;
  }
}