// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
    --color-success: #06a958;
    --color-danger: #CB3A31;
    --color-primary: #0657a9;
    --color-black: #000000;
    --color-grey: #ACACAC;
    --color-white: #ffffff;
  }
  