:root {
  --color-brick: #ff2e55;
  --color-success: #06a958;
  --color-danger: #cb3a31;
  --color-primary: #0657a9;
  --color-black: #000000;
  --color-grey: #acacac;
  --color-white: #ffffff;
  --color-facebook: #4267b2;
  --color-twitter: #1da1f2;
  --color-description: #343434;
  --color-title-hover: #777777;
  --color-article-baseline: #ebebeb;
  --color-tab-border: #eec7bc;
  --color-scrollbar-track: #f1f1f1;
  --color-scrollbar-thumb: #ff2e55;
  --color-scrollbar-thumb-hover: rgba(255, 46, 84, 0.797);
  --color-header-baseline-border: #eec7bc;
  --color-button-disabled-bg: #e0e0e0;
  --color-rounded-icon-bg: #f35587;
  --color-login-form-gradient-1: #f75959;
  --color-login-form-gradient-2: #f35587;
  --color-login-form-shadow-bg: #64646f33;
  --color-login-form-bg: #ffffff99;
  --color-register-form-gradient-1: #f75959;
  --color-register-form-gradient-2: #f35587;
  --color-register-form-shadow-bg: #64646f33;
  --color-register-form-bg: #ffffff99;

  --breakpoint-small: 600;
  --breakpoint-medium: 960;
  --breakpoint-large: 1264;
  --breakpoint-extra-large: 1904;
}
