// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
  --color-success: #06a958;
  --color-danger: #cb3a31;
  --color-primary: #0657a9;
  --color-black: #000000;
  --color-grey: #acacac;
  --color-white: #ffffff;
  --color-facebook: #4267b2;
  --color-twitter: #1da1f2;
  --color-description: #343434;
  --color-title-hover: #777777;
  --color-article-baseline: #ebebeb;
  --color-tab-border: #eec7bc;
}
