.lh-0 {
  line-height: 0;
}

.v-btn.close-dialog-btn {
  position: absolute;
  top: toRem(10);
  right: toRem(10);
}

.v-input.table-search-input {
  padding-top: 0;
  max-width: toRem(300);
  min-width: toRem(200);
  border-radius: 0;
}

.app-container {
  padding: toRem(12);
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  gap: toRem(10);
  overflow-x: auto;
  button {
    min-height: toRem(40);
  }
}

@include media-max-width(toRem(1200)) {
  .toolbar {
    justify-content: unset;
  }
}
