// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
:root {
  --color-side-nav-header: #a1acb8;
  --color-nav-item-active: #e7e7ff;
  --color-nav-item-hover: #f8f8f9;
}
